html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


.wrapper {
}
header{
    

}
.header__container {
    margin: 0 auto;
    max-width: 1550px;
    height: 110px;
    background: rgba(243, 246, 239, 1);
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    margin: 0 auto 0px auto;
    justify-content:space-around;
    align-items: center;
}
.header__logo {
}
.header__nav {
}
.header__link{
    font-family: Tahoma;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #2F2A37;
    text-decoration: none;
}
.header__language  {
    display: flex;
}
.header__language-text {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.header__link{

    margin-right: 69px;
}
.header__link:last-child{
    margin-right: 0;
}
.header__language-text {
    margin-right: 11px;
}
.header__language-arrow {

}

.conatainer {
    max-width: 1356px;
    margin: 0 auto;
}
.banner {
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}
.banner__text {
    margin-top: 126px;
    font-family: Avenir;
}
.banner__title {
    font-size: 54px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: 0em;
}
.banner__paragraf {
    margin-top: 31px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
}
.banner__button {
    margin-top: 55px;
    font-family: Avenir;
font-size: 14px;
font-weight: 500;
line-height: 17px;
letter-spacing: 0em;
background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
padding: 19px 27px;
border: none;
border-radius: 40px;
margin-bottom: 97px;

}
.banner__image {
    width: 721px;
height: 375px;
/* margin-left: 137px; */
margin-top: 185px;
z-index: 3;


}
.banner__background {
    top: -250px;
    left: 630px;
    position: absolute;
}